{% include "modals/modal_wrapper.html" %}
<button id="modal_subcaption" class="btn">{% if data.id %}Edit Gear #{{ data.id }}{% else %}Create Gear{% endif %}</button>
<form action="" id="fileform" class="modalform new_gear">
    {% include 'modals/formrow.html'        with caption="Name"             id="name"           type="text"         data=data.name                          %}
    {% include 'modals/formrow.html'        with caption="Description"      id="description"    type="text"         data=data.description                   %}
    {% include 'modals/formrow.html'        with caption="Buy Link"         id="buy_link"       type="text"         data=data.buy_link                      %}
    {% include 'modals/formrow.html'        with caption="Price"            id="price"          type="number"       data=data.price                         %}
    {% include 'modals/formrow.html'        with caption="Picture"          id="picture"        type="file"         data=data.picture                       %}
    {% if data.id %}
        {% include 'modals/formbutton.html' with caption="Delete Gear"      id="submit"         type="danger"       data="Scenia.Trigger.Gear.Delete"       %}
        {% include 'modals/formbutton.html' with caption="Update Gear"      id="submit"         type="success"      data="Scenia.Trigger.Gear.Update"       %}
    {% else %}
        {% include 'modals/formbutton.html' with caption="Create Gear"      id="submit"         type="success"      data="Scenia.Trigger.Gear.Upload"       %}
    {% endif %}
</form>
<script>
    $('#fileform').ready(function(){
        $('.new_gear #name').focus();
    });
</script>
{% include "modals/modal_wrapper.html" with close=True %}
