{% extends "base.html" %}
{% load app_filters %}

{% block buttons %}
    {% if user.is_superuser %}
        <button onclick="window.location='{{ root }}/admin/scenia/material/';" class="header_button btn btn-danger"   style="right: 91px;"><i class="fa fa-exclamation"></i></button>
    {% endif %}
{% endblock buttons %}

{% block section %}Materials{% endblock section %}
{% block icon %}industry{% endblock icon %}
{% block title %}Materials{% endblock title %}

{% block body %}
    {% include 'bodyscroll.html' %}
    <div id="materials" style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
        {% for m in materials %}
            {% include 'widget_material.html' with material=m|evaluate %}
        {% endfor %}
    </div>
{% endblock body %}